.app-container{
  display: flex;
}
.header-container{
  width: 100%;
}
.sidebar-content{
  height: 48rem;
}
.footer-container{
  background-color: #212529;
  color: white;
  width: 100vw;
  height: 4em;
}

.post-card{
  margin: 20px 50px;
  min-width: 30rem;
}

.hashtag{
  margin: 0px 5px;
}
.reaction{
  margin: 15px 0 0 0;
}
.create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}
.fetch-Button{
  margin-left: 45%;
}